@page "/settings"
@implements IDisposable

<div class="container-fluid p-4">
    <h1 class="a-page-header">Settings</h1>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    void IDisposable.Dispose()
    {
    }
}